.jstree-default .jstree-themeicon {
  background: url('folder.png') 0px 0px no-repeat;
  background-size: 90% 90%;
}

li.jstree-open > a .jstree-icon { 
	background:url("folder-open.png") 0px 0px no-repeat; 
	background-size: 90% 90%;
}

.leaf_icon {
	background:url("leaf.png") 0px 0px no-repeat !important;
	background-size: 90% 90%;
}

.main-block{
	background: white;
	width: 400px;
	height: 400px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.panel{
	background-image: none;
	background-color: #157fcc;
	line-height: 30px;
}

h1{
	border: 1px solid #157fcc;
	margin-bottom: 1px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: arial,helvetica,verdana,sans-serif;
	color:white;
	padding: 1px 0 0;
	text-transform: none;
}

#tree{
	margin-top: 10px;
}
