﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TREE</title>
    <script src="@Url.Content("~/scripts/jquery-2.1.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jstree.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/style_tree.css")" type="text/css">

</head>

<body style="background: #DCDCDC;">
    <div class="main-block">
        <div class="panel">
            <h1>Files</h1>
        </div>
        <div id="tree"></div>
    </div>

    <script type="text/javascript">

        $("#tree").jstree({

            "core": {
                "check_callback": true,
                "data": {
                    "url": "@Url.Action("GetTree", "Home")",
                    "type": "POST",
                    "dataType": "JSON",
                }
            },
            "types": {
                "#": {
                    "valid_children": ["root"]
                },
                "root": {
                    "valid_children": ["folder", "leaf"]
                },
                "folder": {
                    "valid_children": ["folder", "leaf"]
                },
                "leaf": {
                    "icon": "leaf_icon",
                    "valid_children": ['none']
                }
            },
            "dnd": {
                check_while_dragging: false
            },
            "plugins": ["types", "dnd", "wholerow"]
        }).bind('move_node.jstree', function (event, data) {
            $.ajax({
                type: "POST",
                beforeSend: function () {
                    window.setTimeout(function () {
                        $("#" + data.parent).addClass('jstree-loading');
                    }, 0);
                },

                url: "@Url.Action("ChangeTree", "Home")",
                data: {
                    'id': data.node.id,
                    'parent': data.parent
                },
                success: function () {
                    console.log($(".jstree-loading"));
                    window.setTimeout(function () {
                        $("#" + data.parent).removeClass('jstree-loading');
                    }, 200);
                }
            })
        });

    </script>

</body>
</html>